body {

background-color: white;

}

ul {

list-style-type: none;

margin:0;

padding:0;

width:100%;

background-color:#b5b5b5;

position: fixed;
  
top: 0;
  
bottom: 0;
  
overflow: hidden;

}

li a {

display: block;

color:#000;

padding:8px16px;

text-decoration: none;

}



li a:hover {

background-color:#ffdf00;

color: white:

ul {

border:1px solid #555;

}

li {

text-align: center;

border-bottom:1px solid #555;

}

li:last-child {

border-bottom: none;

}
