body {

background-color: white;

}

ul {

list-style-type: none;

margin:0;

padding:0;

width:25%;

background-color:#b5b5b5;

height:100%;

position: fixed;

overflow: auto;

}

lia {

display: block;

color:#000;

padding:8px16px;

text-decoration: none;

}



lia:hover {

background-color:#ffdf00;

color: white:

ul {

border:1px solid #555;

}

li {

text-align: center;

border-bottom:1px solid #555;

}

li:last-child {

border-bottom: none;

}
